<% include header%>
<div class="page-wrapper">
    <div class="container-fluid textList">
        <h2 class="list">文章列表</h2>
        <table class="table table-bordered list">
            <thead class="thead-dark list">
              <tr class="table-info list">
                <th scope="col" class="list">封面图片</th>
                <th scope="col" class="list">文章名称</th>
                <th scope="col" class="list">文章分类</th>
                <th scope="col" class="list">创建时间</th>
                <th scope="col" class="list">文章作者</th>
                <th scope="col" class="list">操作</th>
              </tr>
            </thead>
            <tbody>
            <% datas.forEach(function(item){ %>
                <tr class="list table-success">
                        <th scope="row" class="list"><img src="/<%= item.imgurl %>"></th>
                        <td><%= item.title %></td>
                        <td><%= item.itemId.name %></td>                      
                        <td> <%=item.ctime.toLocaleString()%></td>
                        <td><%= item.author %></td>
                        <td>
                            <a href="/admin/textEdit/<%=item._id%>">编辑</a>|<a href="/admin/textRemove/<%=item._id%>" onclick="return confirm('您确定要删除吗？')">删除</a>
                        </td>
                      </tr>
            <% }) %>
              
            </tbody>
          </table>
            <nav aria-label="Page navigation example listPage">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="/admin/textList?page=<%= page-1 %>" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <% for( var i=1;i<= pageMax;i++){ %>
                    <li class="page-item"><a class="page-link" href="/admin/textList?page=<%=i%>" ><%=i%></a></li>
                  <% } %>
                  <li class="page-item">
                    <a class="page-link" href="/admin/textList?page=<%= -(-page-1) %>" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
            </nav>
    </div>
</div>
<% include footer%>